@font-face {
    font-family: "AAA";
    src: url("Inter-Black.ttf") format("opentype");
}
@font-face {
    font-family: "BBB";
    src: url("Inter-Regular.ttf") format("opentype");
}
@font-face {
    font-family: "CCC";
    src: url("AdobeHebrew-Bold.otf") format("opentype");
}

body{
    margin: 0; padding: 0;
}
.container{
height: 1100PX;
padding-left: 30px;
padding-right: 20px;
}
a{
    color:#2C76CF;
}
a:hover{text-decoration: underline;}
header{
    background-color: #2C76CF;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px;
    font-size: 40px;
    font-family: "AAA";
    width: 579px;
    margin-top: 60px;
    margin-left: 575px;
}
#logo {
    position:fixed;
    top: 55px;
    left: 80px;
    width: 480px;
    height: 100px;
    background-color:#FDF167;
    opacity: 0.5;
    border-radius: 60%;
    border:5px solid #2C76CF;
}
#logo > p {
    color: #2C76CF;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "CCC";
    font-size: 55px;
}
#text1{
        position: absolute;
        left: 470px;
        font-size: 80PX;
        top: 900px;
        color: #2C76CF;
        font-family:"AAA";
        /*outline: 8px ridge#F66C50;;border-radius: 4rem;*/
        border-bottom: solid 8px #F66C50; 
  
}
#navmenu {
    display: flex;
    flex-direction:row;
    align-items: end;
    position:absolute;
    top: 10px;
    right: 350px;
}
#navmenu p {
    margin: 0;
    margin-top: 10px;
    padding: 0px 20px; 
    
    font-size: 24px;
    font-family: "BBB";
}
#navmenu a {
    color: #2C76CF;
}
#navmenu a:link {
    text-decoration: none;
}
#navmenu a:hover > p {
    background-color:#FDF167;
    outline: dashed 3px  #F66C50;
    outline-offset: -3px;
}
section{
    display: flex;
    height: 375px;

}


#w1{
    position:relative;
    flex:1.8;
    background-color: #2C76CF;
   /* background-image: url("배경1.png");*/
    font-size: 40px;
    font-family: "CCC";
    color: #FDF167;

}
#w1 p{
position:absolute;
top:150px;
right:80px;
margin: 0; 
padding: 0;

}
#w1 img{
    height: 100%;
    margin-left: 30px;
    margin-top: 20px;
}

#w2{
    flex:1;
    line-height:30;
    font-size: 25px;
    font-family: "CCC";
    background-color: #F66C50;
    color:#2C76CF;
}
#w2 img{
    height: 100%;
    margin-bottom: 20px;
}
#w2 p{
    position:absolute;
    top:80px;
    left:750px;
    margin: 0; 
    padding: 0;
    
    }
#w3{
    flex:1;
    background-color: #FDF167;
    font-size: 38px;
    font-family: "CCC";
    color:#F66C50
    
}
#w3 p{
    position:absolute;
    top:450px;
    left:1050px;
    margin: 0; 
    padding: 0;
    
    }


#w3 img{
    height: 63%;
    margin-top: -10px;
    
}
footer{
    background-color: #FDF167;
    color: #2C76CF;
    font-family:"AAA";
    font-size: 20px;
    padding: 20px;
    text-align: center;
    background-clip: padding-box;
    margin: 0 317px 10px 0;
}
#picture {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    margin-bottom: 100px;
    text-align: center;
}
.picture-item {
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;

    margin: 0 9px;
     border: solid 1.5px #F66C50
}
.picture-item img {
    width: 100%;
}
.picture-item p {
    font-size: 20px;
    font-family:"BBB";
    color: #2C76CF;
}
#logo2 {
    position:relative;
    width: 240px;
    height: 50px;
    background-color:#FDF167;
    margin: 0 auto;
    border-radius: 60%;
    border:5px solid #2C76CF;
    margin-bottom: 20px;
}
#logo2> p {
    color: #2C76CF;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "CCC";
    font-size: 27px;
}